@page
@model MyFirstWebApp.Pages.SignInAttendanceModel
@{
    ViewData["Title"] = "Sign In";
}
<h3>Scan your card</h3>
<form method="post">
    <input type="text" id="RFID" />
    <input type="submit" value="Submit" />
</form>