@page
@model MyFirstWebApp.Pages.SignInAttendanceModel
@{                 
}
<h3>Scan your card</h3>
<form method="post">
    <input type="text" id="RFID" />
    <input type="submit" value="Submit" />
</form>